:root {
    --color1: #DDE6ED;
    --color2: #9DB2BF;
    --color3: #526D82;
    --color4: #27374D;
    --color5: #ffffff;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--color1);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--color4);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color2);
}

body {
    height: 100vh;
    background-color: var(--color3);
    overflow: hidden;
}

.workspace {
    height: inherit;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 5px;
}

.workspace__area {
    gap: 5px;
    height: 32%;
    display: flex;
    /* padding-top: 5px; */
}

.window {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 200px;
    background-color: var(--color1);
    border-radius: 10px;
    overflow: hidden;
    flex-grow: 1;
}

.window__controlPanel {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.window__title {
    text-transform: uppercase;
    font-weight: bold;
}

.window__controls {
    display: flex;
    width: 50px;
    height: 10px;
    justify-content: space-around;
}

.window__hide {
    background-color: #62c454;
    width: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}

.window__hide:hover {
    scale: 1.2;
    transition: .5s;
}

.window__resize {
    background-color: #f4be4e;
    width: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}

.window__resize:hover {
    scale: 1.2;
    transition: .5s;
}

.window__close {
    background-color: #ec695e;
    width: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}

.window__close:hover {
    scale: 1.2;
    transition: .5s;
}


.window__legend {
    display: flex;
    height: 30px;
    width: 100%;
    background-color: var(--color2);
    justify-content: space-around;
    align-items: center;
}

.legend__item {
    font-weight: bold;
}

.legend__item__event {
    font-weight: bold;
    width: 12.5%;
    text-align: center;
    min-width: 70px;
}

.window__content {
    overflow: auto auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 30px;
    align-items: center;
    border-bottom: 1px solid var(--color3);
    justify-content: space-around;
    transition: .25s;
}

.row:hover {
    backdrop-filter: brightness(1.05);
    transition: .25s;
}

.col__event {
    width: 12.5%;
    text-align: center;
    min-width: 70px;
}

.id {
    display: none;
}

.hideBar {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: var(--color1);
    border-radius: 10px;
    gap: 5px;
}

.hideBar__start {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: var(--color5);
    background-image: url(assets/img/menu-button-wide.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    margin-left: 5px;

}

.hideBar__start:hover {
    transition: .5s;
    background-image: url(assets/img/menu-button-wide-fill.svg);
}

.hideBar__start.active {
    height: 40px;
    width: 40px;
    border-radius: 0 0 10px 10px;
    background-image: url(assets/img/menu-button-wide-fill.svg);
    background-color: var(--color4);
    margin-left: 0;
    transition: .1s;
}

.hideBar__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 0px;
    opacity: 0;
    position: absolute;
    bottom: -10px;
    background-color: var(--color4);
    padding: 5px;
    border-radius: 10px 10px 0 0;
}

.hideBar__ul.active {
    height: 160px;
    bottom: 40px;
    opacity: 1;
    transition: .1s;
    transition-delay: .1s;
}

.hideBar__li {
    opacity: 0;
    height: 30px;
    width: 30px;
    background-color: var(--color5);
    border-radius: 10px;
}

.hideBar__li.active {
    opacity: 1;
    animation: menuAppear;
    animation-duration: .5s;
}

/* @keyframes menuAppear {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} */

.addDefault {
    background-image: url(assets/img/box-seam.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    transition: .5s;
}

.addDefault:hover {
    background-image: url(assets/img/box-seam-fill.svg);
    transition: .5s;
}

.addItems {
    background-image: url(assets/img/items.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    transition: .5s;
}

.addItems:hover {
    background-image: url(assets/img/items-fill.svg);
    transition: .5s;
}

.addSessions {
    background-image: url(assets/img/session.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    transition: .5s;
}

.addSessions:hover {
    background-image: url(assets/img/session-fill.svg);
    transition: .5s;
}

.addSettings {
    background-image: url(assets/img/settings.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    transition: .5s;
}

.addSettings:hover {
    background-image: url(assets/img/settings-fill.svg);
    transition: .5s;
}

.addMap {
    background-image: url(assets/img/map.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    transition: .5s;
}

.addMap:hover {
    background-image: url(assets/img/map-fill.svg);
    transition: .5s;
}

.hidden {
    height: 30px;
    width: 30px;
    min-width: 30px;
    overflow: hidden;
    background-color: var(--color5);
    background-image: url(assets/img/default.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    flex-grow: 0;
    cursor: pointer;
    transition: .5s;
}

.hidden:hover {
    transition: .5s;
    background-image: url(assets/img/default-fill.svg);
}

.items.hidden {
    background-image: url(assets/img/items.svg);
}

.items.hidden:hover {
    background-image: url(assets/img/items-fill.svg);
}

.events.hidden {
    background-image: url(assets/img/events.svg);
}

.events.hidden:hover {
    background-image: url(assets/img/events-fill.svg);
}

.sessions.hidden {
    background-image: url(assets/img/session.svg);
}

.sessions.hidden:hover {
    background-image: url(assets/img/session-fill.svg);
}

.settings.hidden {
    background-image: url(assets/img/settings.svg);
}

.settings.hidden:hover {
    background-image: url(assets/img/settings-fill.svg);
}

.map.hidden {
    background-image: url(assets/img/map.svg);
}

.map.hidden:hover {
    background-image: url(assets/img/map-fill.svg);
}

.hidden .window__controlPanel {
    display: none;
}

.hidden .window__legend {
    display: none;
}

.hidden .window__content {
    display: none;
}

.window.maximize {
    position: absolute;
    height: 95.6%;
    width: 100vw;
    top: 0;
    left: 0;
}