:root {
    --color1: #DDE6ED;
    --color2: #9DB2BF;
    --color3: #526D82;
    --color4: #27374D;
  }

body {
    height: 100vh;
    background-color: var(--color3);
}

.workspace {
    height: inherit;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 5px;
}

.workspace__area {
    gap: 5px;
    height: 32%;
    display: flex;
    /* padding-top: 5px; */
}

.window {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 200px;
    background-color: var(--color1);
    border-radius: 10px;
    overflow: hidden;
    flex-grow: 1;
    flex-flow: column nowrap;
    box-sizing: border-box; 
    /* margin: 0 5px; */
}

.window__controlPanel {
    display: flex;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.window__title {
    text-transform: uppercase;
    font-weight: bold;
}

.controls {
    display: flex;
    width: 50px;
    height: 10px;
    justify-content: space-around;
}

.window__hide {
    background-color: #62c454;
    width: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.window__resize {
    background-color: #f4be4e;
    width: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.window__close {
    background-color: #ec695e;
    width: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}


.window__legend {
    display: flex;
    height: 10%;
    width: 100%;
    background-color: var(--color2);
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;;
}

.legend__item {
    font-weight: bold;
}

.hideBar {
    display: flex;
    align-items: center;
    height: 4%;
    background-color: var(--color1);
    border-radius: 10px;
    padding: 2px;
}

.hidden {
    height: 100%;
    width: 40px;
    min-width: 30px;
    overflow: hidden;
    background-color: red;
    flex-grow: 0;
    /* border-radius: 10px; */
}